**/__pycache__
.vscode
build
ignore
scripts/input/*
scripts/processed/*
scripts/*.csv
report/*
src/*.txt

!report/report.pdf
!report/report.tex
!scripts/input/.empty
!scripts/processed/.empty
!scripts/images/.empty
